Brewfile.lock.json

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini
./idea/**

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

/**/cache/*

/**/.*.sw[a-z]*
/**/gcm-diagnose.log
